@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdf9ee;
  --foreground: #012d1d;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Manrope', system-ui, sans-serif;
}
